<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}">
  <title>Quản lý cửa hàng</title>
</head>

<body>
<div class="container mt-5 ">
  <h1 class="mb-4">Thêm mới nhà cung cấp</h1>
  <form role="form" method="post" th:action="@{/admin/nhacungcap/themnhacungcap}" th:object="${themNhaCungCap}" enctype="multipart/form-data">
    <div class="form-group">
      <label for="productName">Tên nhà cung cấp</label>
      <input type="text" class="form-control" id="productName" th:field="*{tenNhaCungCap}">
    </div>
    <div th:if="${param.tenNhaCungCap}">
      <div class="alert alert-info">Không được bỏ trống</div>
    </div>
    <div class="form-group">
      <label for="productGia">Địa chỉ</label>
      <input type="text" class="form-control" id="productDiaChi" th:field="*{diaChi}">
    </div>
    <div class="form-group">
      <label for="productGia">SĐT</label>
      <input type="text" class="form-control" id="productGia" th:field="*{SDT}">
    </div>
    <div class="form-group">
      <label for="productMota">Email</label>
      <input type="text" class="form-control" id="productMota" th:field="*{email}">
    </div>
    <button type="submit" class="btn btn-primary" >Thêm</button>
  </form>
</div>

</body>
</html>